# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Schedu-kal-ui/node_modules
Schedu-kal-ui/.pnp
Schedu-kal-ui/.pnp.js

# testing
Schedu-kal-ui/coverage

# production
Schedu-kal-ui/build

# misc
Schedu-kal-ui/.DS_Store
Schedu-kal-ui/.env
Schedu-kal-ui/.env.local
Schedu-kal-ui/.env.development.local
Schedu-kal-ui/.env.test.local
Schedu-kal-ui/.env.production.local

Schedu-kal-ui/npm-debug.log*
Schedu-kal-ui/yarn-debug.log*
Schedu-kal-ui/yarn-error.log*

Schedu-kal-api/.*
